body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.navbar {
  border-radius: 0;
}

.text_dark, .text-dark {
	color: black;
}

.footer, .footer a {
	color: #ccc;
}

::placeholder {
	color: #ddd;
}